.tile {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #eeeed2;
}

.piece {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
}

.piece:hover {
  cursor: grab;
}

.tileblack {
  background-color: #b58863;
}

